
.header-big {
    color: #F8F8F2;
}



/* h1 {
    padding: 5vmin;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    font-family: 'Orbitron', 'Cascadia Mono', sans-serif;
    color: #F8F8F2;
    font-size: calc(5vmin);
    text-align: center;
  } */